{%  extends 'base.html' %}


    {% block content %}

        <style>
.blog-content{
position: relative;
height: 320px;
background-image: url(https://static.vecteezy.com/system/resources/previews/030/492/343/large_2x/scientist-working-in-laboratory-young-male-researcher-carrying-out-scientific-research-in-a-lab-ai-generated-free-photo.jpg);
background-size: cover;
background-repeat: no-repeat;

background-position: center 25%;




}
{#    .page-header__overlay {#}
{#    position: absolute;#}
{#    inset: 0;#}
{#    background: rgba(69, 173, 243, 0.55); }#}


.page-header__content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 150px 60px;
}

.page-header__content h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.page-header__content p {
    font-size: 16px;
    opacity: 0.9;
}

.page-header__content a {
    color: #fff;
    text-decoration: none;
}

.contain-btn {
  display: flex;
margin-right:50px;
    margin-left: 50px;
  min-height: 100vh;
  font-family: Arial, sans-serif;

}


.sidebar {
  width: 260px;
  border-right: 1px solid #ddd;
  padding: 30px 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  color: #666;
  border-left: 3px solid transparent;
}

.sidebar li.active {
  color: #000;
  font-weight: bold;
  border-left: 3px solid #1e90ff;
}


.contents {
  flex: 1;
  padding: 40px;
    background: white;
}

.tab {
  display: none;
}

.tab img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  margin: 20px 0;
    border-radius: 10px;
}

.sidebar {
  position: relative;
  z-index: 10;
}

.contents {
  position: relative;
  z-index: 1;
}
.contents p{
    font-family: "Segoe UI", system-ui, sans-serif;
    font-size: 25px;
    color: #555555;

}


    </style>
<div class="blog" >
<div class="blog-content">


    <div class="page-header__overlay"></div>



  <div class="page-header__content">
    <h1>Наши услуги</h1>
        <p>
            <a href="/">Главная</a> →
            <span style="color: #cfc3c3">Наши услуги</span>
        </p>
    </div>
</div>
</div>

<div class="contain-btn">


  <aside class="sidebar">
    <ul>
     <li data-target="imaging">Педиатр</li>
      <li   data-target="ultrasound">Хирург</li>
      <li data-target="xray">Кардиолог</li>
      <li data-target="pediatrics">Инфекционист</li>
      <li data-target="lab">Реаниматолог</li>
      <li data-target="pregnancy">Гастроэнтеролог</li>
        <li data-target="orthopedist">Ортопед</li>
        <li data-target="ENT">Лор</li>
        <li data-target="ophthalmologist">Офтальмолог</li>

    </ul>
  </aside>


  <main class="contents">

   <div class="tab" id="imaging">
      <h1>Педиатр</h1>
      <img src="../static/css/categories-img/qs3sw3vfjnvc72ejunnnvv4aguyqvm81.jpg">
      <p>Здоровье вашего ребенка — наш главный приоритет. Наши педиатры найдут подход к каждому маленькому пациенту, обеспечат профессиональный уход и ответят на все вопросы родителей о развитии и воспитании детей.</p>
    </div>

    <div class="tab" id="ultrasound">
      <h1>Хирург</h1>
      <img src="../static/css/categories-img/surgeon.jpg">
      <p>Наши высококвалифицированные хирурги проводят операции любой сложности, используя передовые методики и современное оборудование. Мы гарантируем максимальную безопасность и тщательный контроль на каждом этапе вашего выздоровления</p>
    </div>

    <div class="tab" id="xray">
      <h1>Кардиолог</h1>
      <img src="../static/css/categories-img/yzbo7uslqlbtfkz2s9gc5xyj7yvj118w.jpg">
      <p>Здоровье сердца — это основа долгой и активной жизни. Наши кардиологи помогут вам вовремя выявить риски, проведут точную диагностику и подберут эффективную программу лечения и профилактики сердечно-сосудистых заболеваний.</p>
    </div>

    <div class="tab" id="pediatrics">
      <h1>Инфекционист</h1>
      <img src="../static/css/categories-img/infekcii_m1.jpg">
      <p>Наши специалисты обеспечивают экспертную диагностику и эффективное лечение широкого спектра инфекционных заболеваний. Мы используем передовые лабораторные методы, чтобы быстро выявить возбудителя и вернуть вам здоровье.</p>
    </div>

    <div class="tab" id="lab">
      <h1>Реаниматолог</h1>
      <img src="../static/css/categories-img/anesthesiologist.webp">
      <p>Наши специалисты обеспечивают круглосуточную поддержку пациентов в самых критических состояниях. Мы используем передовое оборудование для мониторинга и жизнеобеспечения, гарантируя максимальную безопасность и профессиональный медицинский контроль</p>
    </div>

    <div class="tab" id="pregnancy">
      <h1>Гастроэнтеролог</h1>
      <img src="../static/css/categories-img/chto-lechit-gastroenterolog_3.jpg">
      <p>Здоровье пищеварительной системы — залог вашего хорошего самочувствия и жизненной энергии. Наши специалисты помогут выявить причины дискомфорта, проведут точную диагностику и подберут индивидуальный план лечения и питания.</p>
    </div>

         <div class="tab" id="orthopedist">
      <h1>Ортопед</h1>
      <img src="../static/css/categories-img/chto-lechit-ortoped.jpg.pagespeed.ce_.zymofn6uhl.jpg">
      <p>Верните себе радость активного движения без боли. Наши специалисты занимаются лечением и профилактикой заболеваний опорно-двигательного аппарата, помогая вам сохранять легкость походки и здоровье суставов в любом возрасте.</p>
    </div>

         <div class="tab" id="ENT">
      <h1>Лор</h1>
      <img src="../static/css/categories-img/detskik-lor.jpg">
      <p>Здоровье уха, горла и носа имеет решающее значение для полноценной жизни и свободного дыхания. Наши специалисты проводят точную диагностику и эффективное лечение острых и хронических заболеваний, обеспечивая вам комфорт и здоровье.</p>
    </div>

         <div class="tab" id="ophthalmologist">
      <h1>Офтальмолог</h1>
      <img src="../static/css/categories-img/little-girl-checking-up-her-sight-ophthalmology-center-1024x683.jpg">
      <p>Мир прекрасен, когда вы видите его четко. Наши специалисты помогут сохранить остроту вашего зрения, проведут полную диагностику и подберут эффективное лечение или коррекцию, учитывая индивидуальные особенности ваших глаз.</p>
    </div>

  </main>

</div>




      <script>
const menuItems = document.querySelectorAll('.sidebar li');
const tabs = document.querySelectorAll('.tab');

function showTab(id) {
  tabs.forEach(tab => {
    tab.style.display = "none";
  });
  menuItems.forEach(li => {
    li.classList.remove("active");
  });

  document.getElementById(id).style.display = "block";
  document.querySelector(`[data-target="${id}"]`).classList.add("active");
}

// click
menuItems.forEach(item => {
  item.addEventListener("click", function () {
    const target = this.getAttribute("data-target");
    showTab(target);
  });
});

// стартта Педиатр
showTab("imaging");
</script>










{% endblock %}